@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

main {
  font-family: "Alex Brush", cursive;
  color: white;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.hero {
  background-image: url("BPRheroimage.jpg");
  width: 100%;
  height: 250px;
}

.hero-img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

header {
  color: black;
  display: static;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.header-img {
  top: 0;
  width: 10%;
  height: 10%;
  align-content: center;
}

.body {
  padding: auto;
  margin: 0;
  font-size: medium;
  box-sizing: border-box;
  background-color: rgb(3, 6, 3);
  font-family: "mono", monospace;
}

button {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: large;
  font-weight: bold;
  height: 50px;
  width: 40%;
  color: rgb(224, 0, 0);
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid rgb(143, 143, 143);
  cursor: pointer;
}

button:hover {
  background-color: rgb(143, 143, 143);
}

.h1.menu {
  color: rgb(186, 29, 29);
  font-size: 60px;
}

.h2.menu {
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: rgba(216, 28, 28, 0.841);
  font-family: "Alex Brush", cursive;
  color: rgb(186, 29, 29);
}

.h3.menu {
  padding-top: 7px;
  font-family: "mono", monospace;
  color: rgb(194, 83, 83);
}

.p.menu {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: rgb(255, 255, 255);
}
